SECRET_KEY=django-insecure-shop-portfolio-secret-key
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1
INTERNAL_IPS=127.0.0.1
TIME_ZONE=Asia/Tehran
CACHE_BACKEND=django_redis.cache.RedisCache
CACHE_LOCATION=redis://localhost:6379/1
DRAMATIQ_BROKER_URL=redis://localhost:6379/1
ZIBAL_MERCHANT_ID=zibal
ZIBAL_CALLBACK_URL=http://localhost:8000/api/v1/finance/zibal/callback
